configuration {
	scroll-method: 1;
	normalize-match: true;
	//matching: "fuzzy";
	//drun-show-actions: true;
	monitor: "-1";
	terminal: "kitty";
	combi-hide-mode-prefix: true;

	modi: "drun";

	display-drun: "Search:";

	filebrowser {
		directory: "~/*";
	}
}

@theme "launcher.rasi"
